<div class="container-fluid">
  <div class="row">
  <div *ngIf = "showSearchForm">
    <form #idForm="ngForm" (ngSubmit)="onClickSubmit(id.value)">
    
        <div class="form-group row" >
            <div class="col-sm-4">
          <label>Enter your FSCJ Student Id</label><br>
          <input ngNativeValidate type="number"
                 class="form-control"
                 name="id"
                 [(ngModel)]="currentStudent.id" #id="ngModel"
                 required>
                 <div *ngIf="id.invalid && (id.dirty || id.touched)"
                 class="alert alert-danger">
                 <div *ngIf="id.errors.required">
                  Valid FSCJ ID is required.
                </div>
                </div>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
              <button type="submit" class="btn btn-block btn-success" [disabled]="!idForm.form.valid">Submit</button>
          </div>
          
        </div>
        
        
    </form>
    <p *ngIf = "showIneligibleMessage">You are not currently eligible for graudation. Please double check the ID you have submitted for accuracy or reach out to ... for further assistance.</p> 
    </div>
  </div>
  </div>


