<section *ngIf="formSubmitted === 'not submitted'">
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h1>{{currentStudent.name.firstName}} {{currentStudent.name.lastName}}</h1>
      </div>
    </div>
  </div>
</section>
  <section class="form-block">
      <div class="container-fluid">
          <div class="row">
              <div class="combined-heading">
                  <h2>Degree and Honors</h2>
              </div>
            <div class="col-md-6 col-sm-8 split-headings">
                <h2>Degree</h2>
            </div>
            <div class="col-md-6 col-sm-4 split-headings">
                <h2>Honors</h2>
              </div>
          </div>
        </div>
    <div class="container-fluid">
      <div *ngFor="let degree of degrees; let i = index" class="row">
        <div class="col-md-6 col-sm-8">
          <p class="bold-text">
            {{degrees[i].degreeLevel}} in {{degrees[i].degreeTitle}}
          </p>
        </div>
      <div class="col-md-6 col-sm-4">
      <p>
          {{degrees[i].honors}}
        </p>
      </div>
  </div>
</div>
  </section>
  <section *ngIf="!currentStudent.isReserved">
      <form #reservationForm="ngForm" (ngSubmit)="onSubmitRsvp(reservationForm)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <h2>Reservation</h2>
                <fieldset>
                  <div class="row">
                      <div class="col-md-12">
                    <p>Please update your name if you wish it to appear differently in the program.</p>
                  </div>
                  </div>
                  <div class="row form-block">
                    <div class="col-md-6"><label>First Name <input 
                      required
                      type="text" 
                      [(ngModel)]="currentStudent.name.firstName"
                      id="firstName"
                      name="firstName"
                      value="{{currentStudent.name.firstName}}"></label></div>
                    <div class="col-md-6"><label>Last Name <input 
                      required
                      type="text" 
                      [(ngModel)]="currentStudent.name.lastName"
                      id="lastName" 
                      name="lastName"
                      value="{{currentStudent.name.lastName}}"></label></div>
                  </div>
                  <div class="row form-block">
                      <div class="col-md-12">
                    <label for="digitalMessage">Message you would like to post on the digital billboard at the arena. Up to 150 characters.</label>
                    <textarea 
                    type="text" 
                    [(ngModel)]="currentStudent.digitalMessage"
                    id="digitalMessage"
                    name="digitalMessage"
                    value="{{currentStudent.digitalMessage}}" 
                    maxlength="150"
                    placeholder="Your message"></textarea>
                    </div>
                  </div>
                  <div class="row form-block">
                      <div class="col-md-12">
                      <label for="accessibility">Accessibility Requirements. If you do not need any accessibility accommodations, please leave this blank.</label>
                          <textarea 
                        type="text"
                        [(ngModel)]="currentStudent.accessibility"
                        id="accessibility"
                        name="accessibility"
                        value="{{currentStudent.accessibility}}" 
                        placeholder="Ex.: Wheelchair access"></textarea>
                    </div>
                  </div>
                  </fieldset>
                  <div class="row">
                      <div class="col-md-12">
                    <p>By clicking the "reserve" button I am indicating that I plan to participate in the Commencement event.</p>
                    <button class="btn btn-success">Reserve</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </form>
    </section>
    <section *ngIf="currentStudent.isReserved">
        <div class="container-fluid">
          <section class="form-block"><div class="row">
              <div class="col-md-12">
                <p>The program shall have your name displayed as</p> 
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <p><strong>{{currentStudent.name.firstName}} {{currentStudent.name.lastName}}</strong></p>
                </div>
              </div></section>
          
            <section class="form-block" *ngIf="currentStudent.accessibility != ''">
                <div class="row">
                    <div class="col-md-12">
                      <p>You requested accessibility accommodations.</p> 
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                       <p class="italicize-normal">{{currentStudent.accessibility}}</p> 
                      </div>
                    </div>
            </section>
            <section class="form-block" *ngIf="currentStudent.accessibility === ''">
                <div class="row">
                    <div class="col-md-12">
                      <p>You have not requested accessibility accommodations.</p> 
                    </div>
                  </div>
            </section>
            <section class="form-block">
              <p *ngIf="messageExists">You have posted a message for the digital billboard.</p>
              <p *ngIf="!messageExists">You have not posted a message for the digital billboard.</p>
              <form #updateMessageForm="ngForm" (ngSubmit)="onSubmitRsvp(updateMessageForm)">
                <label for="messageInput">Message you would like to post on the digital billboard at the arena, up to 150 characters.
                  </label><textarea class="form-block"
                  #messageInput
                  type="text"
                  [(ngModel)]="currentStudent.digitalMessage"
                  id="digitalMessage"
                  name="digitalMessage"
                  value="{{currentStudent.digitalMessage}}"
                  maxlength="150"
                  (input)="currentStudent.digitalMessage = messageInput.value" ></textarea>
                  <br>
                  <p><span class="italicize-normal">{{currentStudent.digitalMessage | countdown:150}} characters remaining</span></p>
                <button class="btn btn-success">Update my message</button>
              </form>
            </section>
        </div>
      </section>
    </section>
    <section *ngIf="formSubmitted === 'submitted'">Thank you for submitting your intent to participate. You should receive an email providing additional details related to the upcoming Commencement.</section>
    <section *ngIf="formSubmitted === 'submission error'">There was a problem submitting your information. Please try again later or reach out to so and so for assistance.</section>
  