/* label {
    
} */
button {
    display: block;
}
input {
    font-weight: 400;
    padding: 5px;
    display: block;
}
label {
    display: block;
}
.italicize-normal {
    font-style: italic;
    font-weight: 400;
}
.bold-text {
    font-weight: 700;
}
.split-headings {
    display: none;
}
.combined-heading {
    display: block;
}

.form-block {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
}

@media (min-width: 768px) { 
    .split-headings {
        display: block;
    }
    .combined-heading {
        display: none;
    }

    textarea {
        width: 50%;
    }
 }

 