/* You can add global styles to this file, and also import other style files */

html, 
body {

    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin-bottom: 20px;
}