<!-- Full width header section -->
<header class="image-bg-fluid-height">
    <h1>FSCJ Commencement 2018</h1>
</header>
<div class="container main-container">
    <div class="row">
        <nav class="col-md-4">
                    <ul class="nav nav-stacked nav-pills">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                    </ul>

        </nav>
        <main class="col-md-8">
            <app-search></app-search>
        </main>
    </div>
</div>
