h1 {
    color: #fafafa;
    text-align: center;
}

.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
    /* background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll; */
    background: #21566b;
    padding: 100px 0;
}

.image-bg-fixed-height {
    /* background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll; */
    background: #21566b;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

.main-container {
    margin: 25px 0 0 0;
}
/* Sticky footer styles
-------------------------------------------------- */

  .footer {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
  }
  
  /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .footer {
    margin-top: 30px;
  }
}
  
  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }